@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --fonte1: verdana, geneva, tahoma,sans-serif;
    --fonte2:'Passion One', sans-serif;
    --fonte3:'Sriracha', cursive;
}

*{
    margin:  0px;
    padding: 0px;
    font-size: 1em;
}

html,body{
 min-width: 100vh;
 background-color: darkgray;
 font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    
}

head > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-size: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
}

section.normal{
    background-color: white;
    color: rgb(24, 24, 24);
}

section.imagem{
    background-color: rgb(49, 49, 49);
    color: white;
}

section.imagem>p{
    background-color: black;
    width: 400px;
}

footer{
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}1